/* styles.css */

/* Reset some default styles for cleaner design */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Add a background color and style to the body */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

/* Style the header */
header {
    
    color: white;
    padding: 10px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    animation: myanimation 10s infinite;
}

.changing-text {
    animation: colorChange 5s linear infinite; /* Change color over 5 seconds, infinitely */
}

h1 {
    font-size: 36px;
    text-align: center;
    animation: colorChange 7s linear infinite;
}
@keyframes myanimation {
  0% {background-color: red;}
  25%{background-color:yellow;}
  50%{background-color:green;}
  75%{background-color:brown;}
  100% {background-color: red;}
}


nav ul {
    list-style-type: none;
    text-align:right;
}
nav2 ul {
    list-style-type: none;
    text-align:center;
}
nav ul li {
    
    display: inline;
    margin-right: 30px;
}
nav2 ul li {
    
    display: inline;
    margin-right: 240px;
}

/* Style the product listings */
.product {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
}
.product2 {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.product img {
    max-width: 25%;
    height: auto;
}

.product2 img {
    max-width: 100%;
    height: auto;
}
h2 {
    font-size: 24px;
    margin: 10px 0;
}

.price {
    font-weight: bold;
    color: #e74c3c;
}

.add-to-cart {
    background-color: #b9c82f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.Buy-Now{
    background-color: #96a323;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart:hover {
    background-color: #c0392b;
}
.Buy-Now:hover{
    background-color: #7d372b;
}
/* Style the footer */
footer {
    background-color: #2b3f2b;
    color: white;
    text-align: center;
    padding: 20px 0;
}

@keyframes colorChange {
    0% { color: red; } /* Start with red color */
    50% { color: blue; } /* Transition to blue at 50% */
    100% { color: pink; }